employee_management/__pycache__/wsgi.cpython-310.pyc
employee_management/__pycache__/urls.cpython-310.pyc
employee_management/__pycache__/settings.cpython-310.pyc
employee_management/__pycache__/__init__.cpython-310.pyc
app01/migrations/__pycache__/0003_initial.cpython-310.pyc
app01/migrations/__pycache__/0002_remove_employeeinfo_dep_delete_department_and_more.cpython-310.pyc
app01/migrations/__pycache__/0001_initial.cpython-310.pyc
app01/migrations/__pycache__/__init__.cpython-310.pyc
app01/__pycache__/views.cpython-310.pyc
app01/__pycache__/models.cpython-310.pyc
app01/__pycache__/apps.cpython-310.pyc
app01/__pycache__/admin.cpython-310.pyc
app01/__pycache__/__init__.cpython-310.pyc
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/employee_management.iml
.idea/.gitignore
