{%extends "layout.html"%}


{%block content%}

<div class="container">
    <div style="margin-bottom: 10px;">
        <a class="btn btn-success" href="/dep/add/" target="_blank">
            <i class="fa-solid fa-circle-plus"></i>
            Create New Department</a>
    </div>


        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <i class="fa-solid fa-list"></i>
                Department List</div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Operate</th>
                    </tr>
                </thead>
                <tbody>

                    {% for item in data_list %}
                    <tr>
                        <th>{{item.id}}</th>
                        <td>{{item.name}}</td>
                        <td>
                            <a class="btn btn-primary btn-xs " href="/dep/{{item.id}}/edit/" target="_blank">edit</a>
                            <a class="btn btn-danger btn-xs " href="/dep/delete/?nid={{ item.id }}/">delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
</div>

{% endblock %}