{%extends "layout.html"%}


{% block content %}

<div class="container">
    <div style="margin-bottom: 10px;">
        <a class="btn btn-success" href="/user/add" target="_blank">
            <i class="fa-solid fa-circle-plus"></i>
            Create New User</a>
    </div>


        <div class="panel panel-default">
           
            <div class="panel-heading">
                <i class="fa-solid fa-list"></i>
                User List</div>

       
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Full Name</th>
                        <th>Password</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Account</th>
                        <th>Date of Create</th>
                        <th>Department</th>
                        <th>Operate</th>

                    </tr>
                </thead>
                <tbody>

                    {% for item in queryset %}
                    <tr>
                        <th>{{item.id}}</th>
                        <td>{{item.f_name}} {{item.l_name}}</td>
                        <td>{{item.password}}</td>
                        <td>{{item.age}}</td>
                        <td>{{item.get_gender_display}}</td>
                        <td>{{item.account}}</td>
                        <td>{{item.create_time|date:"d-m-Y"}}</td>
                        <td>{{item.dep.name}}</td>
                        <td>
                            <a class="btn btn-primary btn-xs " href="/dep/{{item.id}}/edit/" target="_blank">edit</a>
                            <a class="btn btn-danger btn-xs " href="/dep/delete/?nid={{ item.id }}/">delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
</div>

{% endblock %}